.hero-section img {
  max-width: 100%;
  height: auto;
}

.hero-section {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  overflow: hidden; 
}

@media (max-width: 768px) {
  .hero-section .display-1 {
    font-size: 2.5rem;
  }

  .hero-section img {
    max-height: 300px;
    object-fit: contain;
  }
}
