.shopcategory-loadmore {
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 32px;
  border: none;
}

.shopcategory-loadmore:hover {
  background: #787878;
  color: #ededed;
  transform: scale(1.05);
}

.shopcategory-loadmore:active {
  transform: translateY(3px);
}
